<div class = "order-append">
  <table id="example" class="table table-striped table-bordered table-sm" style="width: 1000px;">
    <thead>
      <tr>
        <th>Order</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Payment</th>
        <th>Fulfillment</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order&.name, "https://#{@shop.myshopify_domain}/admin/orders/#{order.id}", target: "_blank" %></td>
          <td><%= order&.created_at.to_date.strftime('%b %d,%Y') %></td>
          <td><%= "#{order&.customer&.first_name} #{order&.customer&.last_name}" %></td>
          <td><%= order&.financial_status %></td>
          <td><%= order&.fulfillment_status ? order&.fulfillment_status : 'unfulfilled' %></td>
          <td><%= order&.total_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#example').DataTable({
      "paging": false,
      "searching": false,
      "lengthChange": false,
      "pageLength": 2,
      "columnDefs": [
        { "orderable": false, "targets": 3 },
        { "orderable": false, "targets": 4 },
        { "orderable": false, "targets": 5 },
        { "orderable": false, "targets": 6 }
      ]
    });
  });
</script>