<h2>Cash On Delivery App</h2>
<div>
  <% unless @current_shop.charge_cancelled %>
    <%= link_to 'Cancel_charge',cancel_charge_path,method: 'post' %>
  <% end %>
</div>
<div>
  <%= link_to 'unfulfilled',index_path(type: 'unfulfilled'),id: 'unfulfill' %>
  <%= link_to 'All', index_path(type: 'all'),id: 'all' %>
</div>

<div class="container">
  <div class = "order">
    <%= render partial: 'orders' %>
  </div>
   <div class = "paging">
    <% if @orders.next_page? %>
      <%= link_to 'Next_page', index_path(token: @orders.next_page_info) %>
    <% end %>
    <% if @orders.previous_page? %>
      <%= link_to 'Prevous_page', index_path(token: @orders.previous_page_info ) %>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    var t = '';
    $("#search").keyup(function(e){
      clearTimeout(t);
      t = setTimeout(function () {
        form = document.querySelector('#search_form');
        form.dispatchEvent(new Event('submit', {bubbles: true}));
      }, 1000);
    });
  });
</script>